<div class="test">
    <img src="assets/img/Rectangle 174.png" class="img-fluid" />
    <div class="absolute">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <img src="assets/img/Group 39.png" style="justify-items: center;" />
                </div>
    
            </div>
            <div class="row">
                <div class="col pt-3">
                    <h2 class="text-center">Sign in your account</h2>
                </div>
            </div>

            <div class="row">
                <div class="col pt-2">
                    <p class="text-center">Enter Your Credentials to Sign in your account</p>
                </div>
            </div>

            <div class="row  pr-5">
                <div class="col pt-3">
                    <form [formGroup]="loginForm">      
                        <div class="form-group">
                          <div class="input-field" [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">
                          <label for="formGroupExampleInput">Email</label>
                          <input type="text" formControlName ="email" class="form-control text-white"  style='background-color: transparent'>
                          </div>
                        </div>
                        <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="text-danger">*Email  is required</small>
                        <div class="form-group">
                          <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                          <label for="formGroupExampleInput2">Password</label>
                          <input type="text" formControlName ="password" minlength="8" type="password" class="form-control text-white" style= "background-color: transparent">
                          </div>
                        </div>  
                        <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Password  is required</small> 
                        <div class="col d-flex justify-content-center mt-3">
                          <ngx-captcha [config]="captchaConfig" ></ngx-captcha>
                        </div>
                        <div class="row">
                            <div class="col-12 pt-5 d-flex justify-content-center">
                               <button class="text-white btn" type="button">login</button>
                            </div>
                            
                        </div>
                      </form>
                </div>
            </div>
    
        </div>

    </div>
</div>

