h1{
    color:#ffffff;
    font-family: Poppins;
    align-items: center;
    justify-content: center;
}
h2{
    color: #ffffff;
    font-family: Poppins;
    font-size: 20px;
}

label{
  color: #ffffff;
  font-size: 12px;
  font-family: Poppins;
}
p{
    color:#ffffff;
}

  .test{
    background-color: #242529;
    height: 100vh;
    overflow: hidden;
  }

  .btn{
    box-shadow: none;
  }
  
div.absolute {
    position: absolute;
    overflow: hidden;
    top: 100px;
    right: 0;
    margin-left: 70px;
    width: 40vw;
    height: 80vh;
    border: 0px;
  }

  button{
  width: 303px;
  height: 40px;
  left: 967px;
  top: 515px;
 background: #88AD47;
 
  }
  input{
    box-shadow: none !important;
  }

  .cpt-btn{
    color: white;
  }

  canvas{
    color: white;
    height: 20px;
    width: 200px;
  }










 
  




